fastapi
uvicorn[standard]
python-dotenv
sentence-transformers
torch
transformers
faiss-cpu
PyPDF2
python-docx
notion-client
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
atlassian-python-api
beautifulsoup4
requests
